@charset "utf-8";

.pf-about-section {
  @extend %pf-base-section;
  margin-bottom: em(40);
}

.pf-about-grid {
  @include responsive-property(padding-left, (null: 100, $md: 50, $sm: 25, $xs: 0));
  @include responsive-property(padding-right, (null: 100, $md: 50, $sm: 25, $xs: 0));
}

.pf-about-text {
  color: $faded-color;
  font-family: 'Source Code Pro', monospace;
}

.pf-about-image {
  background-color: orange;
  //min-height: em(100);
  height: em(100);
  width: em(60);
  margin: auto;
}
