$ether-wallet-backrgound: #3B5998;

.pf-ether-wallet-clip-part {
  background: $ether-wallet-backrgound;
  position: relative;
  z-index: 1;
}

.pf-ether-wallet-background {
  background: $ether-wallet-backrgound;
  position: relative;
  z-index: 1;
}

.pf-ether-wallet-content {
  font-weight: 300;
  max-width: 1100px;
  color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: em(40);

  h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    @include font-size-map((null: 42, $md: 42, $sm: 26, $xs: 22));
    letter-spacing: 0.24em;
  }

  a {
    color: #FFF73E;
    text-decoration: none;
  }
}

.pf-ether-wallet-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  @include responsive-property(flex-direction, (
    null: row,
    $md: row,
    $sm: column,
    $xs: column,
  ));
  padding-bottom: em(30);
}

.pf-ether-logo {
  width: em(100);
}

.pf-ether-wallet-text {
  padding: 0 em(20);
}

.pf-ether-wallet-image-container {
  padding: em(20);
  display: flex;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
}

.pf-ether-wallet-image {
  width: em(500);
  box-shadow: 0 em(4) em(60) rgba(0, 0, 0, 0.2);
}
