.pf-experience-button {
  display: flex;
  justify-content: flex-start;
  padding-right: 1em;
  align-items: center;
  height: $experience-button-height;
  color: $accent-color;
  border-radius: 0 6px 6px 0;
  margin-top: $experience-button-spacing*0.5;
  margin-bottom: $experience-button-spacing*0.5;
  margin-right: auto;
  text-align: left;
  white-space: nowrap;
  cursor: pointer;
}
