@charset "utf-8";

$num-experience-buttons: 6;
$experience-button-height: em(61);
$experience-button-spacing: em(5);

.pf-experience-section {
  @extend %pf-base-section;
}

.pf-experience-container {
  display: flex;
  align-items: stretch;
}

.pf-experience-left-border-line {
  width: 2px;
  background: #454545;
  margin-top: $experience-button-spacing*0.5;
  margin-bottom: $experience-button-spacing*0.5;
}

.pf-experience-button-column {
  @include font-size-map($medium-font-size);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: $num-experience-buttons*$experience-button-height + $experience-button-spacing*($num-experience-buttons - 1);
  position: relative;
}

.pf-experience-text {
  flex: 2;
  background-color: blueviolet;
}

.pf-experience-marker {
  position: absolute;
  width: 4px;
  height: $experience-button-height;
  left: -3px;
  background: $accent-color;
  border-radius: 2px;
  margin-top: $experience-button-spacing*0.5;
  margin-bottom: $experience-button-spacing*0.5;
}
