@charset "utf-8";

$num-experience-buttons: 7;
$experience-button-height: em(61);
$experience-button-spacing: em(5);
$experience-button-column-height: $num-experience-buttons*$experience-button-height + $experience-button-spacing*($num-experience-buttons - 1);

.pf-experience-section {
  @extend %pf-base-section;
}

.pf-experience-container {
  display: flex;
  align-items: stretch;
}

.pf-experience-left-border-line {
  @include font-size-map($small-font-size);
  width: 2px;
  height: $experience-button-column-height - $experience-button-spacing*0.5;
  background: #454545;
  margin-top: $experience-button-spacing*0.5;
}

.pf-experience-button-column {
  @include font-size-map($small-font-size);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: $experience-button-column-height;
  position: relative;
}

.pf-experience-text {
  flex: 2;
  color: $faded-color;
  p {
    margin-top: 0;
    margin-bottom: em(7);
  }
  ul {
    margin: 0;
    padding-left: em(20);
    list-style-type: square;
  }
  li {
    margin-bottom: em(10);
  }
  & .pf-period {
    @include font-size-map($extra-small-font-size);
    padding-bottom: em(29);
  }
  & .pf-title {
    color: $clear-color;
  }
  & .pf-description {
    @include font-size-map($small-font-size);
  }
}

.pf-experience-marker {
  position: absolute;
  width: 4px;
  height: $experience-button-height;
  left: -3px;
  background: $accent-color;
  border-radius: 2px;
  margin-top: $experience-button-spacing*0.5;
  margin-bottom: $experience-button-spacing*0.5;
}

