.pf-icon-section {
  position: absolute;
  bottom: em(100);
  display: flex;
  flex: 1;
  justify-content: center;
  left: 0;
  right: 0;
}

.pf-icon-section-child {
  width: em(20);
  height: em(20);
  color: $faded-color;
  padding: em(7);
}

.pf-icon-section-child:hover {
  color: $clear-color;
}
