.pf-icon-section {
  position: absolute;
  bottom: em(100);
  width: 100%;
  display: flex;
  justify-content: center;
}

.pf-icon-section-child {
  width: em(20);
  height: em(20);
  color: $faded-color;
  padding: em(7);
}
