@charset "utf-8";

.pf-line {
  position: absolute;
  top: 0;
  width: 1px;
  background-color: $clear-color;
}

.pf-line-head {
  position: absolute;
  top: 100%;
  left: -1px;
  height: 3px;
  width: 3px;
  background-color: $accent-color;
}
