.loading-overlay {
  background: $landing-page-top-color;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 400ms;

  &--hidden {
    opacity: 0;

    // Hide spinner since it looks bad if it's still there after
    // the scrollbar appears, because it will get offset from the right.
    .spinner {
      display: none;
    }
  }
}
