$project-green-overlap-top: em(100);
$project-green-background: #1FB74A;

.pf-project-green-parent {
  // Only purpose here is to allow the background to
  // use absolute position. Otherwise the top offset
  // leaves empty space in the bottom.
  position: relative;
}

.pf-project-green-background {
  background: $project-green-background;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% $project-green-overlap-top, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% $project-green-overlap-top, 100% 100%, 0 100%);
  position: absolute;
  top: -$project-green-overlap-top;
  padding-top: $project-green-overlap-top;
}

.pf-project-green-content {
  @include font-size-map($medium-font-size);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 1200px;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  color: white;
  h1 {
    font-weight: normal;
    @include font-size-map($extra-large-font-size);
  }
  p {
    line-height: em(25);
  }
}

.pf-project-green-top-row {
  display: flex;
  justify-content: center;
  padding-bottom: em(20);
  max-width: 900px;
  margin: auto;
}

.pf-project-green-image-row {
  display: flex;
  overflow: auto;
  flex-wrap: nowrap;
}

.pf-project-green-image {
  height: em(567);
  width: em(262);
  border-radius: em(28);
  box-shadow: 0 em(4) em(20) rgba(0, 0, 0, 0.25);
  flex: 0 0 auto;
  margin: em(15);
  overflow: visible;
  z-index: 1;
}

.pf-project-green-logo-container {
  width: em(300);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.pf-project-green-logo {
  padding-bottom: em(50);
}

.pf-project-green-text {
  max-width: 760px;
  margin: auto;
  padding: 0 em(12);
}
