.pf-project-logos-container {
  display: flex;
  width: 100%;
  @include responsive-property(justify-content, (null: flex-start, $md: flex-start, $sm: center, $xs: center));
}

.pf-project-logo {
  @include responsive-property-em(height, (
    null: 70,
    $md: 70,
    $sm: 70,
    $xs: 60,
  ));
  @include responsive-property-em(width, (
    null: 70,
    $md: 70,
    $sm: 70,
    $xs: 60,
  ));
  @include responsive-property-em(margin, (
    null: 10,
    $md: 10,
    $sm: 10,
    $xs: 5,
  ));
}
