.pf-project-logos-container {
  display: flex;
  width: 100%;
  @include responsive-property(justify-content, (null: flex-start, $md: flex-start, $sm: center, $xs: center));
}

.pf-project-logo {
  width: em(70);
  height: em(70);
  margin: em(10);
}
