$project-green-background: #1FB74A;

.pf-project-green-clip-part {
  background: $project-green-background;
}

.pf-project-green-background {
  background: $project-green-background;
  width: 100%;
}

.pf-project-green-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  color: white;
  @include responsive-property-em(padding-bottom, (null: 0, $md: 0, $sm: 40, $xs: 40));

  a {
    color: #FFF73E;
    text-decoration: none;
  }
}

.pf-project-green-top-row {
  display: flex;
  justify-content: center;
  padding-bottom: em(20);
  max-width: 900px;
  margin: auto;
}

.pf-project-green-logo-container {
  width: em(300);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.pf-project-green-logo {
  padding-bottom: em(50);
}
