.pf-space-loops-gradient-background {
  background: linear-gradient(rgb(49, 19, 93) 0%, #1783D2 100%);
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: em(140);
}

.pf-space-loops-tiling-background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  background-attachment: fixed;
  @include responsive-property(background-size, (
    null: 20%,
    $md: 20%,
    $sm: 40%,
    $xs: 50%
  ));

}

.pf-space-loops-logo {

  max-width: em(300);
  width: 50%;
  margin-bottom: em(40);
}

.pf-space-loops-splash {
  max-width: em(800);
  width: 100%;
  margin-bottom: em(50);
}
