.pf-space-loops-gradient-background {
  background: linear-gradient(rgb(49, 19, 93) 0%, #1783D2 100%);
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: em(140);
  padding-bottom: em(60);

  color: white;
}

.pf-space-loops-tiling-background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  background-attachment: fixed;
  @include responsive-property(background-size, (
    null: 20%,
    $md: 20%,
    $sm: 40%,
    $xs: 50%
  ));
}

.pf-space-loops-logo {
  max-width: em(300);
  width: 50%;
  margin-bottom: em(40);
}

.pf-space-loops-splash {
  margin-top: em(30);
  max-width: em(600);
  width: 100%;
}

.pf-space-loops-top-grid {
  max-width: 1100px;

  // Increase z-index because otherwise the tiling background
  // makes links in the description un-clickable.
  z-index: 1;
}
