@charset "utf-8";

// Source: https://www.degordian.com/education/blog/best-practice-for-responsive-typography/

// unitless function to convert px to em
@function em($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }
  @if (unitless($context)) {
    $context: $context * 1px;
  }
  @return $pixels / $context * 1em;
}

// breakpoint mixin
@mixin breakpoint($mq01: 0, $mq2: false, $maxmin: max-width) {
  @if $mq2 == false {
    @media ($maxmin: $mq01) {
      @content;
    }
  }
  @else {
    @media (min-width: $mq01) and (max-width: $mq2) {
      @content;
    }
  }
}

// responsive font size mixin
@mixin font-size-map($font-size-map) {
  @each $breakpoint, $font-size in $font-size-map {
    @if $breakpoint == null {
      font-size: em($font-size);
    } @else {
      @include breakpoint($breakpoint) {
        font-size: em($font-size);
      }
    }
  }
}

// responsive width mixin
@mixin responsive-width($size-map) {
  @each $breakpoint, $font-size in $size-map {
    @if $breakpoint == null {
      width: em($font-size);
    } @else {
      @include breakpoint($breakpoint) {
        width: em($font-size);
      }
    }
  }
}

// responsive height mixin
@mixin responsive-height($size-map) {
  @each $breakpoint, $font-size in $size-map {
    @if $breakpoint == null {
      height: em($font-size);
    } @else {
      @include breakpoint($breakpoint) {
        height: em($font-size);
      }
    }
  }
}

// breakpoint variables
$lg: 1919px;
$md: 1279px;
$sm: 959px;
$xs: 599px;

$browser-context: 16;
