@charset "utf-8";

$large-font-size: (null: 19, $md: 17, $sm: 15, $xs: 13);
$medium-font-size: (null: 16, $md: 15, $sm: 14, $xs: 13);
$small-font-size: (null: 14, $md: 13, $sm: 12, $xs: 11);

.pf-accent-text {
  color: $accent-color;
}

.pf-clear-text {
  color: $clear-color;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
