@charset "utf-8";

$large-font-size: (null: 19, $md: 17, $sm: 15, $xs: 13);
$medium-font-size: (null: 16, $md: 15, $sm: 13.5, $xs: 12);

.pf-accent-text {
  color: $accent-color;
}

.pf-clear-text {
  color: $clear-color;
}
